stages:
    - build
    - deploy

build:
    stage: build
    image: ubuntu:focal
    before_script:
        - sudo apt -qq update && sudo apt install -y texlive-fonts-recommended texlive-latex-extra texlive-fonts-extra dvipng texlive-latex-recommended texlive-full
    script:
        - mkdir _build
        - pdflatex -output-directory _build ./tex/ParhamNikdouzCV.tex
    artifacts:
        paths:
            - ./_build/ParhamNikdouzCV.pdf
        expire_in: 30 min
    only:
        - master

# deploy:
#     stage: deploy
#     dependencies:
#         - build
#     script:
#         - cp ./_build/ParhamNikdouzCV.pdf .
#         - cp ./_build/ParhamNikdouzCV.pdf /root
#         - echo "Uploaded to server!"
#     tags:
#         - shell_executor
#     only:
#         - master
